header {
  display: flex;
  position: relative;
  padding: 2em 3.8em;
  justify-content: space-between;

  h1 {
    font-size: 2.1em;
    margin: 0;
    line-height: 1.1; // matching hamburger menu
  }
}

.logo {
  cursor: pointer;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3em;

  &:hover {
    svg {
      .top {
        transform: rotate(45deg);
        transform-origin: center top;
        x: 50px;
        y: 35px;
      }
      .bottom {
        transform: rotate(-45deg);
        transform-origin: center top;
        x: -20px;
        y: 25px;
      }
    }

    .menu-dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
}

.menu-dropdown {
  text-align: right;
  position: absolute;
  right: .24em;
  top: 0;
  padding-top: 3em;
  transition: .5s;
  visibility: hidden;
  opacity: 0;

  & > * {
    user-select: none;
  }

  & > *+* {
    margin-top: .1em;
  }
}

svg {
  cursor: pointer;
  
  rect {
    transition: all .3s ease-in-out;
  }
}