$content-margin-top: max(20vh, 8rem); // margin from content to navbar

$color-accent-1: rgb(42, 0, 126);
$color-accent-2: rgba(42, 0, 126, .9);
$color-accent-3: rgba(174, 134, 255, 1);
$color-bg-1: rgb(156, 83, 245);
$color-bg-2: rgb(179, 72, 206);
$color-bg-3: rgb(36, 174, 212);
$color-dark-bg-1: rgb(122, 23, 244);
$color-dark-bg-2: rgb(187, 41, 223);
$color-dark-bg-3: rgb(13, 139, 174);

$dark-glass-shadow-opacity: .15;
$dark-glass-border-opacity: .08;
$dark-glass-opacity: .32;

$light-glass-shadow-opacity: .15;
$light-glass-border-opacity: .01;
$light-glass-opacity: .22;

$glass-blur: 36px;

$color1: #18f0de;
$color2: #e26077;
$color3: #64dcff;
$color4: #fe7272;
$color5: #d2ec51;
$color-interactive: #8c4fd6;
$color-dark-interactive: #43007d;
$circle-size-small: 75%;
$circle-size-medium: 80%;
$circle-size-large: 85%;
$circle-size-interactive: 140%;
$inner-circle-opacity: .8;
$circle-opacity: 1;
$blending: hard-light;